/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	overflow-y: auto;
	overflow-x: auto;
	height: 100%;
}


h1 {
	font-weight: 400;
	font-size: 64px;
	line-height: 100%;
	color: #000;
	margin-bottom: 20px;

}

h2 {
	font-weight: 300;
	font-size: 36px;
	margin-bottom: 20px;
}

.content {
	margin-top: 60px;
	padding-bottom: 60px;
	/*height: calc(100% - 60px);*/
}

.page {
	text-align: center;
	/*padding: 100px;*/
}

.lipp{
	border-radius:50%;
	width: 33px;
}

.header {
	/*min-width: 1150px;*/
	position: absolute;
	width: 100%;
	z-index: 100;
	top: 0;
	left: 0;
	background: #fff;
	height: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-left: 30px;
	padding-right: 30px;
}

.hidden {
	display: none;
}

.bron-tabel {
	margin-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.bron-tabel table{
	border-collapse: collapse;
	width:100%;
}

.bron-tabel th{
	width: 25%;
	text-align: center;
	font-weight: 700;
	padding: 10px;
	border-bottom: 1px solid;
	background-color: #285199;
	color: white;
}

.bron-tabel td{
	width: 25%;
	padding: 10px;
	text-align: center;
}

.bron-tabel tr:hover{
	background-color: #f7f7f7;
}

.bron-tabel a{
	text-decoration: none;
	color: black;
}
.bron-tabel a:hover{
	text-decoration: none;
	color: #285199;
}

.map {

	height: 400px;
	width: 100%;

}



.header-logo {
	float: left;
	width: 150px;
	height: 50px;
}

.header-menu {
	float: right;
	height: 50px;
}

.header a{
	font-weight: 700;
	float: right;
	font-size: 16px;
	color: #333;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px;
	height: 50px;
	width: 150px;
}

.header .btn-select{
	font-weight: 700;
	background: #285199;
	color: white;
	height: 50px;
}

.kolmandik{
	width: 33%;
	display: inline-block;
}

.kolmandik p{
	margin: 20px;
}

.img-circle{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.kontakt{
	margin-top: 100px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.firma{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	margin: 20px;
	padding: 10px;
	min-height: 200px;
}

.firma .right{
	float: right;
	max-width: 630px;
	width: 100%;
	text-align: left;
}

.firma-logo{
	width: 180px;
	height: 180px;
	float: left;
}

.img-firma-logo{
	width: 180px;
	height: 180px;
	margin: auto;
}
.btn-facebook {
	background: #3B5998;
	border-radius: 0;
	color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #263961;
}
.btn-facebook:link, .btn-facebook:visited {
	color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
	background: #263961;
	color: #fff;
}
