/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  --main-color: rgb(28, 81, 119);
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  height: 100%;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  overflow-y: hidden;
  overflow-x: auto;
  height: 100%;
  min-width: 1150px;
}


h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    color: #000;
    margin-bottom: 20px;
}

h2 {
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 20px;
}

.content {
  margin-top: 60px;
  padding-bottom: 60px;
  height: calc(100% - 60px);
  overflow-y: scroll;
}

.content .page {
  text-align: center;
  padding: 100px;
}

.header {
  min-width: 1150px;
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background: #fff;
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 30px;
  padding-right: 30px;
}

.hidden {
  display: none;
}



.bron-tabel {
  margin-top: 50px;
}
.bron-tabel table{ 
  border-collapse: collapse;
  width:100%;
}

.bron-tabel th{
  width: 25%;
  text-align: center;
  font-weight: 700;
  padding: 10px;
  border-bottom: 1px solid;
  background-color: var(--main-color);
  color: white;
}

.bron-tabel td{
  width: 25%;
  padding: 10px;
  text-align: center;
}

.bron-tabel tr:hover{
  background-color: #f7f7f7;
}

.bron-tabel a{
  text-decoration: none;
  color: black;
}
.bron-tabel a:hover{
  text-decoration: none;
  color: var(--main-color);
}



.header-logo {
  float: left;
  width: 150px;
  height: 50px;
}

.header-menu {
  float: right;
  height: 50px;
}

.header a{
  font-weight: 700;
  float: right;
  font-size: 16px;
  color: #333;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  height: 50px;
  width: 150px;
}

.header .btn-select{
  font-weight: 700;
  background: var(--main-color);
  color: white;
  height: 50px;
}

.kolmandik{
  width: 33%;
  display: inline-block;
}

.kolmandik p{
  margin: 20px;
}

.img-circle{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.kontakt{
  margin-top: 100px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.firma{
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 20px; 
  padding: 10px;
  height: 200px;
}

.firma .right{
  float: right;
  width: 680px;
  text-align: left;
}

.firma-logo{
  width: 180px;
  height: 180px;
  float: left;
}

.img-firma-logo{
  width: 180px;
  height: 180px;
  margin: auto;  
}



/*
@media screen and (min-device-width: 1000px) {
  .container .mainpage {
    margin-top: 50vh;
    transform: translateY(-50%);
  }
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#pageLand {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    background-color: black;
    background: url(img/landing.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pageLand img{
    margin-bottom:50px;
}